body {
  background-image: url(../../../assets/img/home_background.png);
  max-width: 100%;
  height: 100%;
}

/* LOGO Y FRASE EN HOME */

.logo {
  margin: 80px 150px;
}

.frase {
  margin: 260px 150px;
}

.frase p {
  color: white;
  font-size: 1.2em;
}


/* MEDIA QUERIES */

@media screen and (max-width: 990px){
  body {
       background-image: url(../../../assets/img/home_background.png);
      width: 100vw;
      height: 100vh;
      min-width: 420px;
      min-height: 990px;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
  }

  .frase {
      display: none;
  }

  .logo {
      margin: 120px 15px 0px 15px;
  }

  .logo img {
      width: 400px;
  }
}
