   <div *ngIf="!logState">
        <app-navbar></app-navbar>
   </div>

    <div *ngIf="logState">
        <app-dashboard></app-dashboard>
    </div>

    <div class="logo">
        <a href="#">
            <img src="../../../assets/img/logo.png" alt="Logo de ExplorArg.com">
        </a>
     </div>

     <h1>Después le meto relleno acá</h1>
     <h1>Y agrego el footer</h1>
     <h1>Y sigo con las otras vistas del foro</h1>

     <br><br>
     <h3>El fondo se puede cambiar; metí uno oscuro</h3>
     <h3>al menos para no seguir viendo la otra mierda y centrar las cosas y demás</h3>


        <!-- Boton que activa el modal, debería estar en el navbar -->
            <!-- <app-registro></app-registro> -->


        <!-- <app-ingreso></app-ingreso> -->


    <!-- Ventana modal -->
    <!-- <div class="container">
        <div class="row">
            <div class="col col-sm col-md col-lg col-xl">
                <div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog"
                    aria-labelledby="modalRegistroLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalRegistroLabel">Ingrese los siguientes datos:</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    (click)="cerrarModal()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <app-registro></app-registro>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

