body {
  background-image: url(../../../assets/img/home_background.png);
  max-width: 100%;
  height: 100%;
}

h1 {
  color: white;
}

.logo {
  margin: 80px 150px;
}

.containerFooter {
  min-height: calc(100vh - 200px);
}

/* CAROUSEL */

.cont {
  display: flex;
}

.cont-carousel {
  width: 500px;
  height: 300px;
  margin: 0px 50px;
  margin: auto;
}

.carousel-item {
  max-width: 100%;
  height: auto;
}



/* MEDIA QUERIES */

@media screen and (max-width: 990px){
  body {
      background-image: url(../../../assets/img/home_background.png);
      width: 100vw;
      height: 100vh;
      min-width: 420px;
      min-height: 990px;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
  }

  .logo {
      margin: 48px 15px 0px 35px;
  }

  .logo img {
      width: 260px;
  }

  .cont-carousel {
    max-width: 340px;
    max-height: 204px;
    margin: auto;
    margin-top: 10px;
  }

  .cont {
    display: block;
  }

  .imgSize {
    width: 340px;
    height: 202px;
  }
}
