   <div *ngIf="!logState">
        <app-navbar></app-navbar>
   </div>

    <div *ngIf="logState">
        <app-dashboard></app-dashboard>
    </div>


    <div>
        <br><br>
        <h1 class="text-center">Bienvenidos a...</h1>
    </div>
    <div class="logo">
        <a href="#">
            <img src="../../../assets/img/logo.png" alt="Logo de ExplorArg.com">
        </a>
     </div>

     <h1>Después le meto relleno acá</h1>
     <h1>Y agrego el footer</h1>
     <h1>Y sigo con las otras vistas del foro</h1>

     <br><br>
     <h3>El fondo se puede cambiar; metí uno oscuro</h3>
     <h3>al menos para no seguir viendo la otra mierda y centrar las cosas y demás</h3>


     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate rerum ab error reiciendis tenetur aliquam provident adipisci nulla voluptatibus, doloremque at aperiam esse accusamus alias harum. Odio ratione sint dolore, at neque error iure, adipisci iusto, sequi reprehenderit eum ad perspiciatis? Autem, reprehenderit illo dolore architecto ut suscipit facere animi quis laudantium quae numquam ullam quidem temporibus est repellat obcaecati error deleniti veniam distinctio eius aperiam! Nisi, delectus itaque. Unde expedita dolor ex exercitationem veniam provident maiores quaerat magni reiciendis. Modi dolor illo dolorum assumenda tempora rerum! Modi ea dolorum maxime doloremque velit repudiandae molestiae provident consectetur et reprehenderit ipsum cum suscipit, autem officia cumque aliquam officiis, voluptatem corporis excepturi veritatis!</p>




     <div class="neccesarySpace">
         <br><br>
         <br><br>
         <br>
     </div>


     <div>
        <app-footer></app-footer>
     </div>
