h1 {
  color: white;
}

.infoDestino{
  border-radius: 1em;
  background: rgba(255, 255, 255, .4);
  margin-top: 2em;
  margin-left: 3em;
}

.card-body{
  background: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  text-align: left;
  font-size: 18px;
  border: solid;
  border-color: rgba(0, 0, 0, 0.4);
  margin-top: 30px;
}

.infoClima{
  margin-left: 2em;
}

.destinosForm{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.destinosForm button{
  padding: 0;
  width: 100%;
}

.card-img-top{
  margin: 0 auto;
  padding: 0;
  border-radius: 20px;
}

.card{
  background: transparent;
  background-color: transparent;
  border: none;
}

.loadingSpinner{
  justify-content: center;
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 45%;
}

.table-bordered {
  margin-top: 15px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 990px){
  .infoDestino {
    margin-left: 1px;
    margin-right: 1px;
    width: 350px;
    margin: auto;
  }

  .infoClima {
    display: flex;
    margin: 40px 5px 0px 5px;
    justify-content: center;
  }

  .destinosForm{
    margin-bottom: 20px;
  }
}