<app-navbar></app-navbar>

<!--
  To do:
    - formulario para elegir destino (Parana)
    - logica para consumir api del clima y mostrar la información solicitada
-->

<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        Acá va el selector de destino
      </h3>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        Acá va la información del destino seleccionado (clima, etc)
      </h3>
    </div>
  </div>
</div>
