<app-navbar></app-navbar>


<div class="container-fluid">
  <div class="row">
    <div class="col destinosForm">
        <form [formGroup]="destinosForm" (ngSubmit)="getInfoDestino(destinosForm)">
          <select class="custom-select" formControlName="nombreDestino">
            <option value="" selected> Por favor, elija un destino </option>
            <option *ngFor="let destino of destinos">
              {{ destino.Nombre }}
            </option>
          </select>
          <button type="submit" class="btn btn-light">Obtener Información</button>
        </form>
    </div>
  </div>
</div>

<!-- Info del destino -->
<div class="container" *ngIf="mostrarSpinner">
  <div class="row">
    <div class="col-lg-11 loadingSpinner">
      <sa-spinner-circular-fixed size="30%"></sa-spinner-circular-fixed>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="mostrarInfo">
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-4 col-sm-2 infoDestino">
      <!-- <h5 *ngFor="let atraccion of atracciones">
        {{ atraccion.Nombre }} :
        {{ atraccion.Info }}
      </h5>
      <h1>
        Descripción atracción
      </h1> -->
      <table class="table table-bordered table-sm" style="margin-top: 5px;">
        <thead class="thead-dark">
          <tr>
            <th th scope="col"> Atracción </th>
            <th th scope="col"> Información </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let info of infoAtracciones, let i = index" class="success">
          <td>
           <strong>{{info.Nombre}}</strong>
          </td>
          <td>
            {{info.Info}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- card para la info del clima -->
    <div class="col-lg-2 col-md-2 infoClima">
      <div class="card">
      <div class="card-body border-dark">
        <div>
          <img class="card-img-top iconoClima" [src]="'http://openweathermap.org/img/wn/' +  infoClima.weather[0].icon  + '@2x.png'"  alt="Card image cap">
          <p style="text-align: center;">
            {{ infoClima.weather[0].description | titlecase}}
          </p>
        </div>
        <hr>
          <strong>Destino: </strong>  {{infoClima.name}} <br>
          <strong>Humedad: </strong> {{infoClima.main.humidity}} % <br>
          <strong>Temperatura: </strong> {{ infoClima.main.temp  }} °C <br>
          <strong>Sensación térmica: </strong> {{ infoClima.main.feels_like }} °C <br>
          <strong>Temp máx: </strong> {{ infoClima.main.temp_max }} °C <br>
          <strong>Temp min: </strong> {{ infoClima.main.temp_min }} °C <br>
      </div>
    </div>
    </div>
  </div>
</div>



