<app-navbar></app-navbar>


<div class="container-fluid">
  <div class="row">
    <div class="col destinosForm">
        <form [formGroup]="destinosForm" (ngSubmit)="getInfoDestino(destinosForm)">
          <select class="custom-select" formControlName="nombreDestino">
            <option value="" selected> Por favor, elija un destino </option>
            <option *ngFor="let destino of destinos">
              {{ destino.Nombre }}
            </option>
          </select>
          <button type="submit" class="btn btn-light">Obtener Información</button>
        </form>
    </div>
  </div>
</div>

<!-- Info del destino -->
<div class="container" *ngIf="mostrarSpinner">
  <div class="row">
    <div class="col-lg-11 loadingSpinner">
      <sa-spinner-circular-fixed size="30%"></sa-spinner-circular-fixed>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="mostrarInfo">
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-4 col-sm-2 infoDestino">
      <h1 *ngFor="let atraccion of atracciones">
      <!-- <h1> -->
        <!-- <p>{{ atracciones[0].Nombre }}</p> -->
      </h1>
      <h1>
        Foto/imagen atracción
      </h1>
      <h1>
        Descripción atracción
      </h1>
    </div>

    <!-- card para la info del clima -->
    <div class="col-lg-2 col-md-2 infoClima">
      <div class="card">
      <div class="card-body border-dark">
        <div>
          <img class="card-img-top iconoClima" [src]="'http://openweathermap.org/img/wn/' +  infoClima.weather[0].icon  + '@2x.png'"  alt="Card image cap">
          <p style="text-align: center;">
            {{ infoClima.weather[0].description | titlecase}}
          </p>
        </div>
        <hr>
          <strong>Destino: </strong>  {{infoClima.name}} <br>
          <strong>Humedad: </strong> {{infoClima.main.humidity}} % <br>
          <strong>Temperatura: </strong> {{ infoClima.main.temp  }} °C <br>
          <strong>Sensación térmica: </strong> {{ infoClima.main.feels_like }} °C <br>
          <strong>Temp máx: </strong> {{ infoClima.main.temp_max }} °C <br>
          <strong>Temp min: </strong> {{ infoClima.main.temp_min }} °C <br>
      </div>
    </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <app-agregardest></app-agregardest>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

