/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-image: url(src/assets/img/boatground.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}