<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img id="boat-icon" src="./../../../assets/img/boat.png" alt="" width="30" height="24" href="#">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link mx-3" aria-current="page" routerLink="/ingreso">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-3" routerLink="/destinos">Destinos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-3" href="#" *ngIf="trueCookie()">Foro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-3" href="#">Contactanos</a>
        </li>
      </ul>

      <form class="d-flex">
        <li class="navbar-brand" *ngIf="trueCookie()">
          <p class="userName">Nombre de Usuario</p>
        </li>
        <a class="navbar-brand" href="#" *ngIf="trueCookie()">
          <img id="user-icon" src="./../../../assets/img/user.png" alt="" width="30" height="24" href="#">
        </a>
        <a class="navbar-brand" href="#" *ngIf="trueCookie()">
        <img id="timon-icon" src="./../../../assets/img/timon.png" alt="">
        </a>
        
      </form>
    </div>
  </div>
</nav>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-alert">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto simmetry">
                    <li class="nav-item px-2">
                         <button class="nav-link btn btn-outline-alert text-white" aria-current="page" routerLink="/ingreso">
                           Iniciar sesión
                         </button>
                    </li>

                    <li class="nav-item px-2">
                        <button class="nav-link btn btn-outline-alert text-white" aria-current="page" routerLink="/destinos">
                          Destinos
                        </button>
                    </li>
                    <li class="nav-item px-2">
                        <button class="nav-link btn btn-outline-alert text-white" aria-current="page" href="#">
                          Contactanos
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

