body {
    background-image: url(../../../assets/img/home_background.png);
}

li {
    padding: 15px;   
}

li .nav-link {
    font-size: 1.5em;
}

nav div div ul li button:hover {
    text-shadow: 5px 5px 4px #56271A;
}