body {
    background-image: url(../../../assets/img/home_background.png);
}

li {
    padding: 10px;  
}

li .btn {
    font-size: 1.5em;
}
<<<<<<< HEAD
=======

.nav-item {
    display: flex;
}

app-ingreso, app-registro {
    text-align: center;
    padding: 5px 5px;
    font-size: 1.5em;
}

app-registro {
    padding: 5px 65px 0px 0px;
}

app-destinos {
    /* border: 1px solid yellow; */
    text-align: center;
    padding: 0px 60px ;
}
>>>>>>> ffc1a6369a44087ee9327255490c1578a785a1a4
