li .btn {
    font-size: 1.3em;
}

.nav-item {
    display: flex;
}

li:hover {
    text-decoration: underline;
    text-decoration-color: lightblue;
    transition: 0.4s ease;
}

.container {
    min-height: calc(100vh - 200px);
}