<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dashboard.component.css">
    <title>Dashboard</title>
</head>

<body>

<!-- DASHBOARD -->

    <div class="container-fluid dashboard">

        <p>Nombre Usuario</p>
            <a href="#">
                <img src="../../../assets/img/user.png" alt="Foto de perfil" class="perfil">
            </a>
    </div>

    
<!--NAVBAR -->
 
<nav class="navbar navbar-expand-lg navbar-light bg-alert">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-5">
              <button class="nav-link btn btn-outline-alert text-white" aria-current="page" href="#">Destinos</button>
          </li>
          <li class="nav-item px-5">
              <button class="nav-link btn btn-outline-alert text-white" aria-current="page" href="#">Contactanos</button>
          </li>
         </ul>
      </div>
  </div>
         
  
  </nav>

</body>
</html>