body {
    background-image: url(../../../assets/img/home_background.png);
    width: 100vw;
    height: 100vh;
}

li {
    padding: 15px;   
}

li .nav-link {
    font-size: 1.5em;
}

nav div div ul li button:hover {
    text-shadow: 5px 5px 4px #56271A;
}

.logo {
    margin: 20px 150px;
}

.frase {
    margin: 260px 150px;
}

.frase p {
    color: white;
    font-size: 1.2em;
}


/* DASHBOARD */

.dashboard {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.dashboard p {
    text-align: end;
    margin: 15px 0px;
}

.dashboard .perfil {
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 8px;
    justify-content: center;
    opacity: .8;
}