@import url(./../navbar/navbar.component.css);

.logo {
    margin: 20px 150px;
}

/* DASHBOARD */

.settings {
  border: none;
  background-color: transparent;
}

.dashboard {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.dashboard p {
    text-align: end;
    margin: 15px 0px;
    color: #FDC830;
    font-size: 1.3em;
}

.dashboard .perfil {
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 8px;
    justify-content: center;
    opacity: .8;
}

.adminPanel{
  background: linear-gradient(to left, #F37335, #FDC830);
}

.container {
  min-height: calc(150vh - 200px);
}

/* MEDIA QUERIES */

@media screen and (max-width: 990px){
  div.container-fluid.dashboard{
    width: 200px;
    display: flex;
    margin: auto;
  }


}

.cont-carousel {
  max-width: 340px;
  max-height: 204px;
  margin: auto;
  margin-top: 10px;
}

.cont {
  display: block;
}

.imgSize {
  width: 340px;
  height: 202px;
}
/* CAROUSEL */

.cont {
  display: flex;
}

.cont-carousel {
  width: 500px;
  height: 300px;
  margin: 0px 50px;
  margin: auto;
}

.carousel-item {
  max-width: 100%;
  height: auto;
}
