.padd {
    display: flex;
    padding-top: 50px;
    margin: auto;
    justify-content: center;
}

input.ng-invalid{
    border-left: 5px solid red;
  }
  input.ng-valid{
    border-left: 5px solid rgb(45, 230, 45);
  }