<app-navbar></app-navbar>
<!-- <app-dashboard></app-dashboard> -->



<div>
    <br><br>
    <h1 class="text-center" *ngIf="!isAdmin; else consultaS">Consulta</h1>
</div>

<ng-template #consultaS>
    <h1 class="text-center">Consultas de Usuarios</h1>
</ng-template>

<div class="text-center" *ngIf="!isAdmin">
    <br>
    <p class="p-style">Expresanos tu interrogante o dejanos una sugerencia. Un Administrador te dará respuesta a la brevedad en esta misma sección. </p>
</div>

<br>

<div class="container col-md-12"  *ngIf="!isAdmin">
    <div class="consulta-container col-md-7">
        <form class="container" [formGroup]="consultaForm">
            <div class="mb-3 emailSize">
                <label for="emailAddress">Ingrese su e-mail</label>
                <input type="email" class="form-control" id="emailAddress" formControlName="Email" aria-describedby="emailHelp" autofocus>
                <small class="form-text text-danger"
                *ngIf="CampoValido('Email')">
                 <i>-- Dato requerido --</i>
                </small>
            </div>
            <div class="mb-3">
                <br>
                <textarea name="msgCh" id="mensajeChart" cols="" rows="10" formControlName="Mensaje"></textarea>

            </div>
            <button type="submit" class="btn btn-primary" style="float: left;">Ver consultas realizadas</button>
            <button type="submit" class="btn btn-primary" style="float: right;" (click)="consulta(consultaForm.value)" [disabled]="consultaForm.invalid">Enviar nueva consulta</button>
            <br><br><br>
        </form>
    </div>
</div>

<br><br>

<div class="container" *ngIf="consultaExist; else consultaNoExist">
    <div>
        <br>
        <div class="recuadro-user">
            <h5>
                Consulta
            </h5>
            <p class="user-p">
                Esto recibe la consulta insertada en el textarea, que a su vez se envía a la DB.
            </p>
            <div class="b-buttons" *ngIf="isAdmin">
                <button class="btn btn-outline-danger">Eliminar</button>
                <button class="btn btn-outline-primary float-right">Responder</button>
            </div>
        </div>
    </div>
</div>

<ng-template #consultaNoExist>
    <div class="container">
        <br>
        <div class="recuadro-user">
            <h5>
                Consulta inexistente
            </h5>
            <p class="user-p">
                No se ha registrado ninguna consulta para el e-mail ingresado.
            </p>
        </div>
    </div>
</ng-template>

<div class="container" *ngIf="respuestaExist">
    <div>
        <br>
        <div class="recuadro-admin">
            <h5>
                Administrador
            </h5>
            <p class="admin-p">
                Y acá el Admin, <br>
                haciéndose el capo no más porque le puse un style al color tipo Matrix, <br>
                responde como si supiera.
            </p>
            <div class="b-buttons" *ngIf="isAdmin">
                <button class="btn btn-outline-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>






<div class="neccesarySpace">
    <br><br>
    <br><br>
    <br>
</div>

<app-footer></app-footer>
