<app-navbar></app-navbar>
<!-- <app-dashboard></app-dashboard> -->



<div>
    <br><br>
    <h1 class="text-center" *ngIf="!isAdmin; else consultaS">Consulta</h1>
</div>

<ng-template #consultaS>
    <h1 class="text-center">Consultas de Usuarios</h1>
</ng-template>

<div class="text-center" *ngIf="!isAdmin">
    <br>
    <p class="p-style">Expresanos tu interrogante o dejanos una sugerencia. Un Administrador te dará respuesta a la brevedad en esta misma sección. </p>
</div>

<br>

<div class="container col-md-12"  *ngIf="!isAdmin">
    <div class="consulta-container col-md-7">
        <form class="container" [formGroup]="consultaForm" (ngSubmit)="consulta(consultaForm)">
            <div class="mb-3 emailSize">
                <label>Ingrese su e-mail</label>
                <input type="email" class="form-control" id="emailChat" formControlName="emailChat" aria-describedby="emailHelp">
                <small class="form-text text-danger"
                *ngIf="CampoValido('emailChat')">
                 <i>-- Dato requerido --</i>
                </small>
            </div>
            <div class="mb-3">
                <br>
                <textarea name="mensajeChat" id="mensajeChat" cols="" rows="10" formControlName="mensajeChat"></textarea>

            </div>
            <button type="submit" class="btn btn-outline-primary" style="float: left">Ver consultas realizadas</button>
            <button type="submit" class="btn btn-outline-primary" style="float: right"
            [disabled]="consultaForm.invalid">Enviar nueva consulta</button>
            <br><br><br>
        </form>
    </div>
</div>

<br><br>

<ng-template #consultaNoExist>
    <div class="container">
        <br>
        <div class="recuadro-user">
            <h5>
                Consulta inexistente
            </h5>
            <p class="user-p">
                No se ha registrado ninguna consulta para el e-mail ingresado.
            </p>
        </div>
    </div>
</ng-template>


<!-- CONSULTA BLOQUE -->
<div class="consultaBloque" *ngFor="let cons of consultaList">

        <div class="container" *ngIf="consultaExist; else consultaNoExist" >
            <div>
                <br>
                <div class="recuadro-user">
                    <h5>
                        Consulta
                    </h5>
                    <p class="user-p">
                        {{cons.mensaje}}
                    </p>
                    <div class="b-buttons" *ngIf="isAdmin">
                        <button class="btn btn-outline-danger">Eliminar</button>
                        <button type="button" class="btn btn-outline-primary float-right" data-bs-toggle="modal" data-bs-target="#chatModal">
                            Responder
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" *ngIf="respuestaExist">
            <div>
                <br>
                <div class="recuadro-admin">
                    <h5>
                        Administrador
                    </h5>
                    <p class="admin-p">
                        {{cons.respuesta}}
                    </p>
                    <div class="b-buttons" *ngIf="isAdmin">
                        <button class="btn btn-outline-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
</div>


<!-- MODAL -->

<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Respuesta</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <textarea name="" id="" cols="20" rows="5"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anular</button>
            <button type="button" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
    </div>
    


<div class="neccesarySpace">
    <br><br>
    <br><br>
    <br>
</div>

<app-footer></app-footer>
