<br>
<div class="container background">
    <h1 class="text-center">Foro</h1>
</div>
<br><br>

<div class="container background">
    <br>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Tema</th>
            <th scope="col">Autor</th>
            <!-- <th scope="col">Mensajes</th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Pesca en La Picada</a></td>
            <td>Otto</td>
            <!-- <td>5</td> -->
          </tr>
          <tr>
            <td><a href="#">Parques acuáticos</a></td>
            <td>Homero</td>
            <!-- <td>14</td> -->
          </tr>
          <tr>
            <td><a href="#">Hostels</a></td>
            <td>Marge</td>
            <!-- <td>2</td> -->
          </tr>
        </tbody>
      </table>

      <br>
      <div class="btn btn-primary">Agregar tema</div>
      <br>

    <br>
</div>

