<app-dashboard></app-dashboard>

<br><br>
<div>
    <h1 class="text-center">Foro</h1>
</div>
<br><br>

<div class="container background">
    <br>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Tema</th>
            <th scope="col">Autor</th>
            <!-- <th scope="col">Mensajes</th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/foroTopic">Pesca en La Picada</a></td>
            <td>Otto</td>
            <!-- <td>5</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Parques acuáticos</a></td>
            <td>Homero</td>
            <!-- <td>14</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Hostels</a></td>
            <td>Marge</td>
            <!-- <td>2</td> -->
          </tr>

          <tr>
            <td><a href="/foroTopic">Pesca en La Picada</a></td>
            <td>Otto</td>
            <!-- <td>5</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Parques acuáticos</a></td>
            <td>Homero</td>
            <!-- <td>14</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Hostels</a></td>
            <td>Marge</td>
            <!-- <td>2</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Pesca en La Picada</a></td>
            <td>Otto</td>
            <!-- <td>5</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Parques acuáticos</a></td>
            <td>Homero</td>
            <!-- <td>14</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Hostels</a></td>
            <td>Marge</td>
            <!-- <td>2</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Pesca en La Picada</a></td>
            <td>Otto</td>
            <!-- <td>5</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Parques acuáticos</a></td>
            <td>Homero</td>
            <!-- <td>14</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Hostels</a></td>
            <td>Marge</td>
            <!-- <td>2</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Pesca en La Picada</a></td>
            <td>Otto</td>
            <!-- <td>5</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Parques acuáticos</a></td>
            <td>Homero</td>
            <!-- <td>14</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Hostels</a></td>
            <td>Marge</td>
            <!-- <td>2</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Pesca en La Picada</a></td>
            <td>Otto</td>
            <!-- <td>5</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Parques acuáticos</a></td>
            <td>Homero</td>
            <!-- <td>14</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Hostels</a></td>
            <td>Marge</td>
            <!-- <td>2</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Pesca en La Picada</a></td>
            <td>Otto</td>
            <!-- <td>5</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Parques acuáticos</a></td>
            <td>Homero</td>
            <!-- <td>14</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Hostels</a></td>
            <td>Marge</td>
            <!-- <td>2</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Pesca en La Picada</a></td>
            <td>Otto</td>
            <!-- <td>5</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Parques acuáticos</a></td>
            <td>Homero</td>
            <!-- <td>14</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Hostels</a></td>
            <td>Marge</td>
            <!-- <td>2</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Pesca en La Picada</a></td>
            <td>Otto</td>
            <!-- <td>5</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Parques acuáticos</a></td>
            <td>Homero</td>
            <!-- <td>14</td> -->
          </tr>
          <tr>
            <td><a href="/foroTopic">Hostels</a></td>
            <td>Marge</td>
            <!-- <td>2</td> -->
          </tr>
          


        </tbody>
      </table>

      <br>
        <button type="button" class="btn btn-primary" routerLink="/agregarTema">Agregar tema</button>
      <br>

    <br>
</div>

<br><br>

<div>
    <!-- <app-forotopic></app-forotopic> -->
    <!-- <app-forocrud></app-forocrud> -->
</div>


<app-footerabsolute></app-footerabsolute>