<!-- <app-dashboard></app-dashboard> -->
<app-navbar></app-navbar>
<br>

<br>
<br>
<div class="container-fluid background card bg-light" *ngIf="show">
  <div class="row">
    <div class="col">
      <div class="card-header bg-dark">
        <h1 class="text-center foroHeader">Foro</h1>
        <button type="button" class="btn btn-outline-light addbtn" (click)="showPostForm()">
          Crear tema <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          </button>
      </div>
      <div class="row">
        <div class="col">
    <table class="table table-striped">
        <thead>
          <div>

          </div>
          <tr>
            <th scope="col">Título</th>
            <!-- <th scope="col">Autor</th> -->
            <th scope="col">Opciones</th>
            <!-- <th scope="col">Mensajes</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of foroData">
            <td hidden>{{data.id_topico}}</td>
            <td><strong>{{data.Titulo}}</strong></td>
            <!-- <td>{{data.Usuario.Nombre}}</td> -->
            <td>
              <!-- Detalles -->
              <button class="btn btn-outline-dark"  (click)="showDetails(data)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                  <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                </svg>
              </button>

              <!-- Editar -->
              <button class="btn btn-outline-dark" (click)="activateEdit(data)" *ngIf="showAdmBtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>

              <!-- Eliminar -->
              <button class="btn btn-outline-dark" data-toggle="modal" href='#delete' *ngIf="showAdmBtn" (click)="deleteModal(data)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
              </button>
            </td>
            <!-- <td>5</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    </div>
  </div>
</div>

<!-- Detalles del post -->
<div class="container-fluid background card bg-light" *ngIf="showPostDetails">
    <div class="row">
      <div class="col">
        <button class="backArrow btn btn-outline-dark" *ngIf="activateBackArrow" (click)="goBack()">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16" >
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg> Atrás
        </button>
      </div>
    </div>
    <div class="col">
      <div  class="card-header details">
        <h4>{{postInfo.Titulo}}</h4>
      <!-- INCORPORAR NOMBRE DEL AUTOR Y FECHA DE LA PUBLICACIÓN -->
      <p class="pStyle">{{postInfo.Usuario.Nombre}}- {{postInfo.FechaCreacion | date}}</p>
      </div>
      <div class="temaContent card-body">
          {{postInfo.Contenido}}
      </div>
    </div>
  </div>


  <!-- Modificar post -->
  <div class="container-fluid background card bg-light" *ngIf="showEdit">
      <div class="row">
        <div class="card-header bg-dark">
          <h1 style="text-align: center;">Modificar tema</h1>
        </div>
        <div class="col input-group">
          <div class="col-lg-12 card-body">
            <form [formGroup]="putForm" (ngSubmit)="editPost(putForm)">
              <input type="text" hidden formControlName="id_topico">
              <input type="text" hidden formControlName="fk_id_usuarioReg">
              <label class="card-text"> <h2>Título</h2> </label><br>
              <input type="text" class="form-control" formControlName="Titulo"><br>
              <label class="card-text"><h2>Contenido</h2></label><br>
              <textarea  cols="60" rows="10" class="form-control" formControlName="Contenido"></textarea><br><br>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-outline-dark dangerBtn" type="submit">Modificar</button>

                  <button type="button" class="btn btn-outline-dark safeBtn" (click)="deactivateEdit()">Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>

  <!-- Crear post -->
  <div class="container-fluid background card bg-light" *ngIf="createPost">
    <div class="row">
      <div class="card-header bg-dark">
        <h1 style="text-align: center;">Crear tema</h1>
      </div>
      <div class="col input-group">
        <div class="col-lg-12 card-body">
          <form [formGroup]="postForm" (ngSubmit)="postPost(postForm)">
            <input type="text" hidden formControlName="Usuario">
            <input type="text" hidden formControlName="fk_id_usuarioReg">
            <label class="card-text"> <h2>Título</h2> </label><br>
            <input type="text" class="form-control" formControlName="Titulo"><br>
            <label class="card-text"><h2>Contenido</h2></label><br>
            <textarea  cols="60" rows="10" class="form-control" formControlName="Contenido"></textarea><br><br>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline-dark" type="submit">Crear</button>

                <button type="button" class="btn btn-outline-dark" (click)="deactivateEdit()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<!-- Eliminar Post -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-6">
      <div class="modal fade" id="delete">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Está seguro de querer eliminar este post?</h4>
            </div>
            <div class="modal-body">
              <div>
                <p>
                  <strong>Titulo: </strong> {{postInfo.Titulo}}
                </p>
              <p>
                <strong>Creado: </strong> {{postInfo.FechaCreacion | date}}
              </p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger dangerBtn" (click)="delPost(postInfo.id_topico)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="neccesarySpace">
  <br><br>
  <br><br>
  <br>
</div>

<app-footerabsolute></app-footerabsolute>
