<!-- formulario de registro -->
<form [formGroup]="registroForm" class="was-validated">
    <!-- Campo usuario -->
  <label for="nombreU"> Nombre de usuario</label> 
  <input type="text" id="nombreU" class="form-control" formControlName="Nombre" minlength="5" required placeholder="Debe tener al menos 5 caracteres"><br>

    <!-- Campo password -->
  <label for="passU"> Contraseña </label> 
  <input type="password"  id="passU" class="form-control" formControlName="Password" minlength="8" required placeholder="Debe tener al menos 8 caracteres"><br>

    <!-- Campo Email -->
  <label for="emailU"> Email</label> 
  <input type="email" id="emailU" class="form-control" formControlName="Email" minlength="8" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  
   placeholder="ejemplo@ejemplo.com" required><br>
  
    <!-- Botón -->
  <hr>
  <button type="submit" class="btn btn-primary" (click)="registro(registroForm.value)" [disabled]="registroForm.invalid"> Registrarse </button>
</form>
