h1 {
  color: whitesmoke;
}

label {
    /* color:black; */
    font-family: Verdana;
    font-weight: 700;
  }

  .inputRegistroForm {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  input.ng-invalid{
    border-left: 5px solid red;
  }
  input.ng-valid{
    border-left: 5px solid rgb(45, 230, 45);
  }

.registroRow{
    font-family: Verdana;
    font-weight: 700;
    box-shadow: 3px 3px 8px rgba(0,0,0,.5);
    border-radius: 3em;
    padding: 15px;
    /* background: linear-gradient(90deg, rgba(238,179,125, .5)  0%, rgba(247, 178, 75, .5) 100%); */
  }

  a {
    color:rgb(3, 226, 114);
  }

  .btn-primary {
    background: grey;
    border: transparent;
  }

  .btn-primary:hover {
    background: rgb(226, 126, 3);
  }

  .btn-danger {
    background: rgb(226, 126, 3);
    border: transparent;
  }

  .notifCenter {
    display: flex;
    position: relative;
    justify-content: center;
    width: 50%;
    margin: auto;
  }

  .smallSpace {
    margin-top: 10px;
    text-align: center;
  }

    /* MEDIA QUERIES */

@media screen and (max-width: 990px){
  .registroRow {
    margin-left: 1px;
    margin-right: 1px;
    display: flex;
    justify-content: center;
  }

  /* input[placeholder] {
    font-size: 13px;
  } */

  .inputTYC{
    margin: 0 auto;
  }

  .inputTerminos{
    width: 100%;
    margin: 0 auto;
  }

}
