<!-- formulario de registro -->
<form [formGroup]="registroForm" class="was-validated">
    <!-- Campo usuario -->
  <label for="nombreU"> Nombre de usuario</label> 
  <input type="text" id="nombreU" class="form-control" formControlName="Nombre" minlength="5" required placeholder="Debe tener al menos 5 caracteres"><br>

    <!-- Campo password -->
  <label for="passU"> Contraseña </label> 
  <input type="password"  id="passU" class="form-control" formControlName="Password" minlength="8" required placeholder="Debe tener al menos 8 caracteres"><br>

    <!-- Campo Email -->
  <label for="emailU"> Email</label> 
  <input type="email" id="emailU" class="form-control" formControlName="Email" minlength="8" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  
   placeholder="ejemplo@ejemplo.com" required><br>
  
    <!-- Botón -->
<div class="container">
  <hr>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="registro(registroForm.value)" [disabled]="registroForm.invalid" style="float: right;"> Registrarse </button>
      <button class="btn btn-danger" style="float: left;" (click)="cerrarModal()"> Cancelar </button>
    </div>
  </div>
  <hr>
</div>
</form>
 

<!-- cartelito de éxito -->
  <small *ngIf="usuarioCreado" class="alert alert-success" role="alert" alert-dismissible>
    Usuario creado correctamente!
  </small>


<!-- cartelito de error -->
  <small *ngIf="usuarioExiste"  class="alert alert-danger" role="alert" alert-dismissible >
    {{ mensajeError }} 
    <span class="close" data-dismiss="alert"></span></small>