label {
    color:black;
    text-align: center;
    font-family: Verdana;
    font-weight: 700;
  }

input {
    width: 100%;
    height: 100%;
    justify-content: center;
  }



.registroRow{
    font-family: Verdana;
    font-weight: 700;
    border: rgb(238, 170, 56);
    border-style: solid;
    border-radius: 3em;
    padding: 5px;
    background: rgb(237,162,49);
    background: linear-gradient(90deg, rgba(238,179,125,1)  0%, rgb(247, 178, 75) 100%);
  }
