<app-navbar></app-navbar>

<br><br>
<div>
    <h1 class="text-center">Inicio de sesión</h1>
</div>

<div class="container mx-1 mx-auto">
  <div class="row ingresoRow">
    <div class="col-sm col-md col-lg col-xl">
      <div class="card">


        <form [formGroup]="ingresoForm">
          <!-- Campo Email -->
          <div>
            <div class="card-header text-white bg-dark">
          <label for="emailLogin"> Email</label>
          </div>
          <input type="email" id="emailLogin" class="form-control card-body" formControlName="emailLogin"
             placeholder="ejemplo@ejemplo.com" autofocus>
             <small class="form-text text-danger"
              *ngIf="CampoValido('emailLogin')">
               <i>-- Dato requerido --</i>
              </small>
           </div><br>

          <!-- Campo password -->
          <div>
            <div class="card-header text-white bg-dark">
              <label for="passwLogin"> Contraseña </label>
            </div>

          <input type="password" id="passwLogin" class="form-control card-body" formControlName="passwLogin"
             placeholder="Debe tener al menos 8 caracteres">
             <small class="form-text text-danger"
              *ngIf="CampoValido('passwLogin')">
               <i>-- Dato requerido --</i>
              </small>
            </div><br>

          <!-- Botón -->
            <hr>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary" (click)="ingreso(ingresoForm.value)"
                  [disabled]="ingresoForm.invalid" style="float: right;" data-dismiss="modal" aria-label="Close"> Ingresar </button>
                <button class="btn btn-danger" routerLink="" style="float: left;" > Cancelar </button>
              </div>
            </div>
            <hr>
            <div class="row finalButton">
              <div class="col-sm col-md col-lg col-xl sinotienecuenta card-footer bg-info">
                <p>
                  ¿No tenés cuenta?
                  <a  routerLink="/registro">
                    ¡REGISTRATE!
                  </a>
                 </p>
              </div>
            </div>
        </form>
      </div>
      </div>
    </div>
  </div>


<div class="neccesarySpace">
  <br><br>
  <br><br>
  <br>
</div>

<app-footer></app-footer>
