<app-navbar></app-navbar>

<br><br>
<div class="container mx-1 mx-auto">
  <div class="row ingresoRow">
    <div class="col">
      <div class="container">
        <form [formGroup]="ingresoForm">

          <!-- Campo Email -->
          <div>
          <label for="emailLogin"> Email</label>
          <input type="email" id="emailLogin" class="form-control" formControlName="emailLogin"
             placeholder="ejemplo@ejemplo.com" autofocus>
             <small class="form-text text-danger"
              *ngIf="CampoValido('emailLogin')">
               <p> Dato requerido </p>
              </small>
           </div><br>

          <!-- Campo password -->
          <div>
          <label for="passwLogin"> Contraseña </label>
          <input type="password" id="passwLogin" class="form-control" formControlName="passwLogin"
             placeholder="Debe tener al menos 8 caracteres">
             <small class="form-text text-danger"
              *ngIf="CampoValido('passwLogin')">
               <p> Dato requerido </p>
              </small>
            </div><br>

          <!-- Botón -->

            <hr>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary" (click)="ingreso(ingresoForm.value)"
                  [disabled]="ingresoForm.invalid" style="float: right;" data-dismiss="modal" aria-label="Close"> Ingresar </button>
                <button class="btn btn-danger" routerLink="" style="float: left;" > Cancelar </button>
              </div>
            </div>
            <hr>
            <div class="row sinotienecuenta">
             <p>
              ¿No tenés cuenta?
              <a (click)="registrate()" href="registro">
                ¡REGISTRATE!
              </a>
             </p>

            </div>
        </form>
      </div>
    </div>
  </div>
</div>
