.padd {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.select-style {
  background: #D87C40;
  color: white;
  width: 268px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  padding-left: 8px;
}

.style-center {
  display: block;
  margin: auto;
}