<div class="container text-center my-4">
    <div class="row">
        <h1 class="user-title">Panel de Usuario</h1>
        <br>
        <hr class="mt-3">
    </div>
</div>
 
 <div class="container bording col-md-4 minimum">
     <div class="row justify-content-md-center">
         <div class="col-sm col-md-auto x-align">
             <p class="x-weight">Foto de Perfil</p>
             <div>
                 <img class="fotoPerfil x-align x-border" src="./images/user.png" alt="Foto de perfil">
             </div>
         </div>
     </div>
     <div class="row justify-content-md-center">
         <div class="col-sm col-md-3 my-3 x-file">
                 <p>Cambiar foto</p>
             <input type="file" name="profileFile" id="profileFile">
         </div>
     </div>
 </div>
    
 <div class="container bording col-md-4 mt-4 minimum">
     <div class="row justify-content-md-center">
         <div class="col-sm col-md-4 mx-3 x-align">
             <p class="x-weight mt-3">Nombre</p>
             <p class="x-cont">Nombre de usuario</p>
             <button class="btn btn-danger mb-3">Modificar</button>
         </div>
     </div>
 </div>

 <div class="container bording col-md-4 mt-4 minimum">
     <div class="row justify-content-md-center">
         <div class="col-sm col-md-4 mx-3 x-align">
             <p class="x-weight mt-3">Email</p>
             <p class="x-cont">Email de usuario</p>
             <button class="btn btn-danger mb-3">Modificar</button>
         </div>
     </div>
 </div>
 
     <div class="container bording col-md-4 mt-4 minimum">
     <div class="row justify-content-md-center">
         <div class="col-sm col-md-4 mx-3 x-align">
             <p class="x-weight mt-3">Contraseña</p>
             <p class="x-cont">********</p>
             <button class="btn btn-danger mb-3">Modificar</button>
         </div>
     </div>
 </div>