<div class="container text-center my-4 ">
    <div class="row">
        <h1 class="user-title">Panel de Usuario</h1>
        <br>
        <hr class="mt-3">
    </div>
</div>

<!-- Foto de perfil -->
 <div class="container bording col-md-4 minimum userPanel">
     <div class="row justify-content-md-center ml-2">
         <div class="col-sm col-md-auto x-align">
             <p class="x-weight">Foto de Perfil</p>
             <div>
                 <img class="fotoPerfil x-align x-border" [src]="fPerfil" alt="Foto de perfil">
             </div>
         </div>
     </div>
     <div class="row justify-content-md-center">
         <div class="col-sm col-md-3 my-3 x-file">
                 <p>Cambiar foto</p>
             <input type="file" name="profileFile" id="profileFile">
         </div>
     </div>
 </div>

 <!-- Nombre de usuario -->
 <div class="container bording col-md-4 mt-4 minimum userPanel">
     <div class="row justify-content-md-center">
         <div class="col-sm col-md-5 mx-auto x-align">
             <p class="x-weight mt-3">Nombre</p>
             <p class="x-cont"> {{ usuario[0].Nombre }} </p>
             <button class="btn btn-danger mb-3" data-toggle="modal"
             href="#modifNombreModal">
               Modificar
              </button>
         </div>
     </div>
 </div>

 <!-- Email  -->
 <div class="container bording col-md-4 mt-4 minimum userPanel">
     <div class="row justify-content-md-center">
         <div class="col-sm col-md-5 mx-auto x-align">
             <p class="x-weight mt-3">Email</p>
             <p class="x-cont">{{ usuario[0].Email }}</p>
             <button class="btn btn-danger mb-3" data-toggle="modal"
             href="#modifEmailModal">
               Modificar
              </button>
         </div>
     </div>
 </div>

 <!-- Contraseña -->
     <div class="container bording col-md-4 mt-4 minimum userPanel">
     <div class="row justify-content-md-center">
         <div class="col-sm col-md-3 mx-3 x-align">
             <p class="x-weight mt-3">Contraseña</p>
             <button class="btn btn-danger mb-3" data-toggle="modal"
             href="#modifPasswModal">
               Modificar
              </button>
         </div>
     </div>
 </div>

  <!-- Cerrar sesión -->
  <div class="container bording col-md-4 mt-4 mb-4 minimum userPanel">
    <div class="row justify-content-md-center">
        <div class="col-sm col-md-3 mx-3 x-align">
            <p class="x-weight mt-3">Sesión de Usuario</p>
            <button class="btn btn-danger mb-3" data-toggle="modal" (click)="cerrarSesion()">
              Cerrar
             </button>
        </div>
    </div>
</div>



 <!-- modificar nombre de usuario -->
<div class="modal fade" id="modifNombreModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modificar nombre de usuario</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="modifNombre" (ngSubmit)="putNombre(modifNombre)">
          <div class="form-group">

            <label for="">Nombre</label>
            <input type="text" class="form-control" formControlName="Nombre">
          </div>
          <button type="submit" class="btn btn-danger" [disabled]="modifNombre.invalid">Modificar</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal" #myModalClose>Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- modificar email de usuario -->
<div class="modal fade" id="modifEmailModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modificar Email</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="modifEmail" (ngSubmit)="putEmail(modifEmail)">
        <label for="">Email</label>
        <input type="text" class="form-control" formControlName="Email">

        <button type="submit" class="btn btn-danger" [disabled]="modifEmail.invalid">Modificar</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" #myModalClose>Cancelar</button>
      </form>
      </div>
    </div>
  </div>
</div>

<!-- modificar passw de usuario -->
<div class="modal fade" id="modifPasswModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modificar contraseña</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="modifPassw" (ngSubmit)="putPassword(modifPassw)">
        <label for="">Contraseña</label>
        <input type="password" class="form-control" formControlName="Password">

        <button type="submit" class="btn btn-danger" [disabled]="modifPassw.invalid">Modificar</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" #myModalClose>Cancelar</button>
      </form>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container padd">
  <h2>Administrar Destinos y Atracciones</h2>
</div>

<div class="container text-center my-4 " *ngIf="isAdmin">
  <div class="row">
      <h1 class="user-title">Panel de Administración</h1>
      <br>
      <hr class="mt-3">
  </div>
</div>

<!-- Agregar destino -->
<div class="container bording col-md-4 mt-4 minimum userPanel">
  <div class="row justify-content-md-center">
      <div class="col-sm col-md-4 mx-3 x-align">
        <p class="x-weight mt-3">Administrar Destinos</p>
          <button class="btn btn-danger mb-3" data-toggle="modal"
          href='#postDestino'>
            Agregar destino
           </button>
      </div>
  </div>
</div>

<div class="modal fade" id="postDestino">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title style-center">Agregar destinos</h4>
      </div>
      <div class="modal-body">
        <app-agregardest></app-agregardest>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


<div class="container bording col-md-4 mt-4 minimum userPanel">
  <div class="row justify-content-md-center">
      <div class="col-sm col-md-4 mx-3 x-align">
        <p class="x-weight mt-3">Administrar Atracciones</p>
          <button class="btn btn-danger mb-3" data-toggle="modal"
          href='#postAtraccion'>
            Agregar atracción
           </button>
      </div>
  </div>
</div>


<div class="modal fade" id="postAtraccion">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <app-agregar-a></app-agregar-a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
